.selection {
  display: flex;
  grid-template-columns: repeat(2, 300px);
  align-items: center;
  gap: 15px;
}

.icon_btn {
  width: 50px;
  height: 50px;
  background-image: url('/images/icons/date.svg');
  background-position: center;
}

.btn {
  max-width: 150px;
  height: 50px;
}

@media screen and (max-width: 1000px) {
  .wrapper {
    gap: 20px;
  }

  .title {
    font-size: 30px;
  }

  .container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .photo,
  .left_column {
    gap: 10px;
  }

  .date {
    font-size: 18px;
  }

  .subtitle {
    font-size: 22px;
  }

  .description {
    font-size: 16px;
  }
}

@media screen and (max-width: 460px) {
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .subtitle {
    font-size: 24px;
  }

  .container {
    gap: 15px;
  }

  .photo,
  .left_column {
    gap: 8px;
  }

  .date {
    margin-top: 6px;
    padding-left: 30px;
    font-size: 16px;
  }

  .subtitle {
    font-size: 18px;
  }

  .description {
    font-size: 14px;
  }

  .autor,
  .date {
    background-size: 20px;
  }
}
.react-datepicker__triangle {
  position: relative !important;
}

@media screen and (max-width: 390px) {
  .description {
    font-size: 12px;
  }
}
